* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif ;
}

body {
  background: rgb(189, 196, 224) ;
  color: rgb(255, 255, 255);
}

#header {
  width: 100%;
  height: 80vh;
  /* Optional background image*/
  /*
  background-image: url(images/bgimg.jpg);
  background-size: cover;
  background-position: center;
  */
}

.logo {
  width: 150px;
  height: auto;
}

.container {
  padding: 10px 10%;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #03117e;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.hero-text {
  margin-top: 5%;
  font-size: 30px;
}

.hero-text h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 60px;
}

.hero-text h1 span {
  color: #080858;
}

.hero-section {
  display: flex;
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 11px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.hero-pic img {
  margin: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
}

/* ---------- About ---------- */
#about {
  padding: 80px;
  color: #ffffff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .about-col-1 {
   flex-basis: 35%;
 }
.about-col-1 img {
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 48px;
  font-weight: 600px;
  color: #080858;
}

.tab-title {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #03117e;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 30%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #1E3050;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ---------- Services ---------- */

#services {
  padding: 30px 0;
}

.service-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-top: 50px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.service-list img {
  width: 90px;
  height: auto;
}
